spring:
  application:
   name: E-Library
  datasource:
   driver-class-name: org.postgresql.Driver
   username: postgres
   url: jdbc:postgresql://localhost:5432/project?currentSchema=e_library
   password: 19850515
  jpa:
   database-platform: org.hibernate.dialect.PostgreSQLDialect
   show-sql: true
   hibernate:
    ddl-auto: update
management:
  server:
    port: 8180
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      show-details: always
    loggers:
      enabled: true
logging:
  level:
    org:
      springframework:
        web: info
jwt:
  access-token:
    lifeTime: 60
  secret-key: RGF5YW5kbmlnaHR0aGVsZWFybmVkY2F0a2VlcHN3YWxraW5nYXJvdW5kdGhlY2hhaW5KV1Q=
file:
  upload-dir: D:/E-Library/books



